{% extends "base.html" %}
{% load static %}

{% block title %}设置新密码{% endblock title %}

{% block content %}
<p>UID: {{ uidb64 }}</p>
<p>Token: {{ token }}</p>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-warning text-white text-center">
                    <h4>设置新密码</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning btn-block">提交新密码</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
