{% extends "base.html" %}
{% load static %}

{% block title %}密码重置{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-primary text-white text-center">
                    <h4>重置密码</h4>
                </div>
                <div class="card-body">
                    <p>请输入您注册的邮箱地址，我们将向您的邮箱发送密码重置链接。</p>
                    <form method="post" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">邮箱地址</label>
                            <input type="email" name="email" class="form-control" id="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">发送重置链接</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
