{% extends "base.html" %}
{% load static %}

{% block title %}重置链接已发送{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-success text-white text-center">
                    <h4>重置链接已发送</h4>
                </div>
                <div class="card-body text-center">
                    <p>我们已将密码重置链接发送到您的邮箱，请查收邮件并按照指引进行操作。</p>
                    <a href="{% url 'userprofile:login' %}" class="btn btn-primary">返回登录</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
